
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard - EduCommerce</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
</head>
<body>
<h1>UNDER CONSTRUTION</h1>
  <!-- <header class="navbar">
    <div class="logo">
      <a href="{{ url_for('index') }}">EduCommerce</a>
    </div>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Home</a></li>
        <li><a href="{{ url_for('courses') }}">Courses</a></li>
        <li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ url_for('logout') }}" class="logout-btn">Logout</a></li>
      </ul>
    </nav>
  </header> -->

  <!-- Page Content -->
  <!-- <main>
    <section class="welcome">
      <h1>Welcome, {{ name }}!</h1>
      <p>Glad to have you back. Explore your courses and continue learning.</p>
    </section>
  </main> -->




</body>
</html>
